<ion-header>
  <ion-toolbar>
    <ion-title>button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color ="primary" expand="full">Primary</ion-button>
  <ion-button color ="secondary" size="small">secondary</ion-button>
  <ion-button color ="tertiary" size="large">tertiary</ion-button>
  <ion-button color ="success"fill="clear">success</ion-button>
  <ion-button color ="warning">
    <ion-ripple-effect></ion-ripple-effect>warning</ion-button>
  <ion-button color ="danger">danger</ion-button>
  <ion-button color ="light">light</ion-button>
  <ion-button color ="medium">medium</ion-button>
  <ion-button color ="novenoc">Novenoc</ion-button>

</ion-content>
